/**
 * Import variables
 */

@import "variables";

/**
 * Import npm dependencies
 * see: https://en.parceljs.org/module_resolution.html
 * see commented examples below
 */

// @import "some-node-module";
// @import "@some-company/some-node-module";

/**
 * Import layouts
 * It's a best practice to use a partial for each page
 */

@import "layouts/home";

/**
 * Do NOT include anything else in this file!
 */
